<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139099066161-4bgqs2pfg1ausq7pqcpjpabc9gpbogbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139099066161-4bgqs2pfg1ausq7pqcpjpabc9gpbogbf</string>
	<key>API_KEY</key>
	<string>AIzaSyAa4yB_VDNbNnCyLdEi7J7lhF-HfiEPBPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>139099066161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterfairy.citycab</string>
	<key>PROJECT_ID</key>
	<string>city-cab-d498c</string>
	<key>STORAGE_BUCKET</key>
	<string>city-cab-d498c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139099066161:ios:0edbe19bf927189111aa10</string>
</dict>
</plist>